{% extends 'base_desk.html' %}
{% load bootstrap4 %}

{% block title %}Callout: {{ event.title }}{% endblock title %}

{% block subheader %}
<strong>
  <a href='{% url "desk_callout_list" %}'> Active Callouts </a>&gt; {{ event.title }}
</strong>

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="" href="{% url 'desk_callout_update' event.id %}">
      <span>&nbsp;</span> {#FIXME: shouldn't be necessary #}
      <i class="fa fa-pencil"></i> Edit
    </a>
  </li>
  <li class="nav-item">
    <a class="" href="" data-toggle="modal" data-target="#resolveModal">
      <span>&nbsp;</span> {#FIXME: shouldn't be necessary #}
      <i class="fa fa-ban"></i> Cancel Callout / 10-22
    </a>
  </li>
</ul>
{% endblock subheader %}

{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    <p><strong>Status:</strong>
      {{ event.get_status_display }}{% if event.resolution %}: {{ event.resolution }}{% endif %}
    </p>
    {% if event.description %}
    <p><strong>Description:</strong><br> {{ event.description|urlize|linebreaksbr }}</p>
    {% endif %}

    <p><strong>Location:</strong>
      {% if event.location %}
      {{ event.location|urlize }}
      <a target="_blank"
         href="https://google.com/maps/search/?api=1&query={{ event.location|urlencode }}">
        <i class="fa fa-map-marker"></i>
      </a>
      {% endif %}
      <p>
      {% if event.lat != None %}
      <strong>Lat, Long:</strong> {{ event.lat|floatformat:8 }}, {{ event.lon|floatformat:8 }}
      <a target="_blank"
         href="https://google.com/maps/search/?api=1&query={{ event.lat|floatformat:8 }},{{ event.lon|floatformat:8 }}">
        <i class="fa fa-map-marker"></i>
      </a>
      {% endif %}
      {% if event.location_address != None %}
      <p>
        <strong>Address:</strong>
        {{ event.location_address }}{% if event.location_city != None %}, {{ event.location_city }}{% endif %}{% if event.location_state != None %}, {{ event.location_state }}{% endif %}
        {{ event.location_zip|default_if_none:'' }}
      </p>
      {% endif %}
    </p></p>

    {% if event.subject or event.subject_contact %}
    <p><strong>Subject:</strong> {{ event.subject}} {{ event.subject_contact|default_if_none:'' }}</p>
    {% endif %}
    {% if event.informant or event.informant_contact %}
    <p><strong>Informant:</strong> {{ event.informant}} {{ event.informant_contact|default_if_none:'' }}</p>
    {% endif %}


    {% if event.radio_channel != None %}
    <p><strong>Tactical Channel:</strong> {{ event.radio_channel }}</p>
    {% endif %}
    {% if event.additional_radio_channels.all %}
    <p><strong>Additional channels:</strong>
      {{ event.additional_radio_channels.all|join:", " }}</p>
    {% endif %}
    {% if event.handling_unit != None %}
    <p><strong>Tag / Handling Unit:</strong>{{ event.handling_unit }}</p>
    {% endif %}

    <p>
      <strong>Start:</strong>
      {% if event.all_day %}
        {{ event.start_at|date:'M j, Y' }}
      {% else %}
        {{ event.start_at|date:'M j, Y H:i' }}
      {% endif %}
      {% if event.finish_at != None %}
      <strong>End:</strong>
      {% if event.all_day %}
        {{ event.finish_at|date:'M j, Y' }}
      {% else %}
        {{ event.finish_at|date:'M j, Y H:i' }}
      {% endif %}
      {% endif %}
    </p>
    <p><strong>Created by:</strong> {{ event.created_by|default_if_none:'' }}</p>

    <p><strong>Log:</strong>
      <ul class="list-group">
      {% for log in event.calloutlog_set.all %}
      {% if log.type == "message" %}
      <li class="list-group-item list-group-item-primary flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{log.member.full_name }}: {{ log.message }}</p>
          <small>{{ log.created_at|date:"n/j H:i" }}</small>
        </div>
      </li>
      {% elif log.type == "system" %}
      <li class="list-group-item list-group-item-light">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{log.update|linebreaksbr}}</p>
          <small>{{ log.created_at|date:"n/j H:i" }}</small>
        </div>
      </li>
      {% elif log.type == "response" %}
      <li class="list-group-item list-group-item-dark">
        <div class="d-flex w-100 justify-content-between">
          <p class="mb-1">{{ log.message }}</p>
          <small>{{ log.created_at|date:"n/j H:i" }}</small>
        </div>
      </li>
      {% endif %}
      {% endfor %}
      </ul>
    </p>
    <div class="col-sm-6 col-sm-offset-3">
      <form id="log-form">
        <div class="form-group">
          <label for="message">Send a message:</label>
          <input type="text" class="form-control" id="message" name="message" />
        </div>
        <button type="submit" class="btn btn-success">
          Submit
        </button>
      </form>
    </div>
  </div>
</main>


<div class="modal fade" id="resolveModal" tabindex="-1" role="dialog" aria-labelledby="resolveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="resolve-form">
        <div class="modal-header">
          <h5 class="modal-title" id="resolveModalLabel">Resolve Callout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="resolution" class="col-form-label">Message:</label>
            <input type="text" class="form-control" id="resolution" name="resolution"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Send message" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>
'use strict'
$(document).ready(function () {
  $("#log-form").submit(function (event) {
    event.preventDefault();
    var message = $("#message").val();
    if (message == "") {
      return;
    }
    var data = {
      type: "message",
      message: message,
    };

    $.ajax({
      method: "POST",
      url: "{% url 'api:callout-list' %}{{event.id}}/log/",
      data: data,
      dataType: "json",
      encode: true,
      success: function () {
        location.reload(true);
      },
      error: function (msg) {
        console.log('message send failed: '+msg);
        alert(msg);
        return false;
      },
    });
  });
  $("#resolve-form").submit(function (event) {
    event.preventDefault();
    var data = {
      status: "resolved",
      resolution: $("#resolution").val(),
    };
    $.ajax({
      method: "PATCH",
      url: "{% url 'api:callout-list' %}{{event.id}}/",
      data: data,
      dataType: "json",
      encode: true,
      success: function () {
        location.reload(true);
      },
      error: function (msg) {
        console.log('resolve send failed: '+msg);
        alert(msg);
        return false;
      },
    });
  });
});

</script>
{% endblock js %}
