{% extends 'base_desk.html' %}
{% load bootstrap4 %}

{% block title %}Callout{% endblock title %}

{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Submit" />
    </form>
  </div>
</main>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>
'use strict'
$(function () {
  // Show all items without scrolling
  $("#id_notifications_made").attr("size",$("#id_notifications_made option").length);
});
</script>
{% endblock js %}
