{% extends 'base_desk.html' %}
{% load bootstrap4 %}

{% block title %}Callout{% endblock title %}

{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    <form method="post" id="id_form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Submit" id="id_submit" />
    </form>
  </div>
</main>
{% endblock content %}

{% block js %}
{{ block.super }}
<script>
'use strict'
$(function () {
  // Show all items without scrolling
  $("#id_notifications_made").attr("size",$("#id_notifications_made option").length);

  //if they don't enter a title, use the first part of the description
  $("#id_description").on('change', function() {
    if( !$("#id_title").val() ) {
      $("#id_title").val($("#id_description").val().replace(new RegExp('\r?\n','g'), ' ').substring(0,40));
    }
  });

  // prevent double-submit
  $("#id_form").on('submit', function(event) {
    $("#id_submit").prop("disabled", true);
    $("#id_submit").val( "Submitting. Please wait...");
  });
});


</script>
{% endblock js %}
