{% extends 'base_generic.html' %}
{% load bootstrap4 %}

{% block title %}Calendar{% endblock title %}

{% block subheader %}
<strong>
  <a href="{% url 'event_list' %}">Events</a> &gt; Calendar
</strong>
{% endblock subheader %}

{% block content %}
<main role="main" class="container-fluid">
  <div id="content">
    <div id='calendar'></div>
  </div>
</main>

<div class="modal fade" id="patrolModal" tabindex="-1" role="dialog" aria-labelledby="patrolModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patrolModalLabel">Patrol</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="patrolModalComment" class="col-form-label">Comment:</label>
            <textarea class="form-control" id="patrolModalComment"></textarea>
          </div>
          <input type="hidden" id="patrolModalDate" value=""/>
          <input type="hidden" id="patrolModalId" value=""/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="patrolModalDelete">Delete</button>
        <button type="button" class="btn btn-primary" id="patrolModalUpdate">Update</button>
        <button type="button" class="btn btn-primary" id="patrolModalCreate">Create</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
{{ block.super }}


    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    <script>

function RefetchPatrols() {
  var patrolSource = window.calendar.getEventSourceById('patrols');
  patrolSource.refetch();
}

function AddPatrol(date, description) {
  var data = {
    start_at: date,
    description: description
  };
  $.ajax({
    method: 'POST',
    contentType: 'application/x-www-form-urlencoded',
    url: '{% url "api:patrol-list" %}',
    data: data,
    success: function (response) {
      console.log('PostAction success.');
      RefetchPatrols();
    },
    error: function (xhr) {
      console.log('PostAction failed');
      console.log(xhr);
      if (xhr.responseText) alert(xhr.responseText);
      return false;
    }
  })
}

function UpdatePatrol(id, description) {
  var data = {
    description: description
  };
  $.ajax({
    method: 'PATCH',
    contentType: 'application/x-www-form-urlencoded',
    url: '{% url "api:patrol-list" %}' + id + '/',
    data: data,
    success: function (response) {
      console.log('PostAction success.');
      RefetchPatrols();
    },
    error: function (xhr) {
      console.log('PostAction failed');
      console.log(xhr);
      if (xhr.responseText) alert(xhr.responseText);
      return false;
    }
  })
}

function DeletePatrol(id) {
  $.ajax({
    method: 'DELETE',
    contentType: 'application/x-www-form-urlencoded',
    url: '{% url "api:patrol-list" %}' + id + '/',
    success: function (response) {
      console.log('DeletePatrol success.');
      RefetchPatrols();
    },
    error: function (xhr) {
      console.log('DeletePatrol failed');
      console.log(xhr);
      if (xhr.responseText) alert(xhr.responseText);
      return false;
    }
  })
}

function ShowCreatePatrolModal(date) {
  $("#patrolModalLabel").text("Create Patrol - " + date);
  $("#patrolModalDate").val(date);
  $("#patrolModalComment").val("");
  $("#patrolModalDelete").hide();
  $("#patrolModalUpdate").hide();
  $("#patrolModalCreate").show();
  $("#patrolModal").modal('show');
}

function ShowEditPatrolModal(event) {
  $("#patrolModalLabel").text("Edit Patrol - " + event.start.toLocaleDateString());
  $("#patrolModalId").val(event.id);
  $("#patrolModalComment").val(event.extendedProps.description);
  $("#patrolModalDelete").show();
  $("#patrolModalUpdate").show();
  $("#patrolModalCreate").hide();
  $("#patrolModal").modal('show');
}

function HandleDateClick(info) {
  console.log('clicked on ' + info.dateStr);
  var idate = info.date;
  var events = this.getEvents();
  for (const e of events) {
    var patrol = e.extendedProps.patrol;
    var edate = e.start;
    if (patrol &&
        (idate.getFullYear() == edate.getFullYear()) &&
        (idate.getMonth()    == edate.getMonth()) &&
        (idate.getDate()     == edate.getDate()) &&
        (e.extendedProps.member.id == {{ user.id}})
       ) {
      console.log(' found');
      ShowEditPatrolModal(e);
      return;
    }
  }
  console.log(' not found');
  ShowCreatePatrolModal(info.dateStr);
}

function HandleEventClick(info) {
  if (info.event.extendedProps.patrol) {
    if (info.event.extendedProps.member.id == {{ user.id }}) {
      console.log('clicked on ' + info.event);
      ShowEditPatrolModal(info.event);
    }
  }
}

var eventSources = [
  {
    id: 'events',
    color: 'lightgrey',
    textColor: 'black',
    url: '{% url 'api:event-list' %}',
    startParam: 'finish_at_iso_after',
    endParam: 'start_at_iso_before',
    success: function(response) {
      return response.results.map(
        function(x) {
          return {
            id: x.id,
            title: x.title,
            start: x.start_at,
            end: x.end_at,
            allDay: x.all_day,
            extendedProps: {
              description: x.description
            }
          };
        }
      );
    }
  },
  {
    id: 'patrols',
    url: '{% url 'api:patrol-list' %}',
    startParam: 'start_at_iso_after',
    endParam: 'start_at_iso_before',
    success: function(response) {
      return response.results.map(
        function(x) {
          var textColor = 'white';
          var backgroundColor = '#3b59a0';
          if (x.member.status == 'CVS') {
            textColor = 'black';
            backgroundColor = '#aad4ff';
          } else if ((x.member.status == 'CV') || (x.member.status[0] == 'P')) {
            textColor = 'black';
            backgroundColor = '#ffffff';
          }
          return {
            id: x.id,
            title: x.member.username,
            backgroundColor: backgroundColor,
            borderColor: 'black',
            textColor: textColor,
            start: x.start_at,
            end: x.finish_at,
            allDay: true,
            extendedProps: {
              patrol: true,
              member: x.member,
              description: x.description
            }
          };
        }
      );
    }
  },
];


document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    height: 'auto',
    initialView: 'dayGridMonth',
    eventSources: eventSources,
    dateClick: HandleDateClick,
    eventClick: HandleEventClick,

    eventDidMount: function(info) {
      if (info.event.extendedProps.patrol) {
        $(info.el).tooltip({
          title: info.event.extendedProps.member.full_name,
          placement: 'top',
          trigger: 'hover',
          container: 'body'
        });
      } else {
        $(info.el).tooltip({
          title: info.event.extendedProps.description,
          placement: 'top',
          trigger: 'hover',
          container: 'body'
        });
      }
    }
  });
  calendar.render();


  $("#patrolModalCreate").on("click", function() {
    $("#patrolModal").modal('hide');
    AddPatrol($("#patrolModalDate").val(), $("#patrolModalComment").val());
  });
  $("#patrolModalDelete").on("click", function() {
    $("#patrolModal").modal('hide');
    DeletePatrol($("#patrolModalId").val());
  });
  $("#patrolModalUpdate").on("click", function() {
    $("#patrolModal").modal('hide');
    UpdatePatrol($("#patrolModalId").val(), $("#patrolModalComment").val());
  });

  window.calendar = calendar;
});


    </script>

{% endblock js %}
